h2{
    margin: 1em 1em 0 1em;
}
section{
    display: flex;
    flex-direction: column;
    min-width: 100px;
    /*height: 100%;*/
}
section::after {
    content: '';
    margin: auto;
}
.OPEN{
    background: aliceblue;
}
.DONE{
    background: lightgray;
}

.IN_PROGRESS{
    background: lightgoldenrodyellow;
}